.Movies {
  &__wrapper {
    @apply w-full sm:max-w-[220px] sm:h-[694px] block;
  }
  &__selector {
    @apply block relative mb-[32px] h-[18px] text-[16px] leading-[16px] font-[400] tracking-[4px] text-center cursor-pointer;
  }
  &__popup {
    @apply absolute sm:top-[20px] sm:left-[-10.5px] max-sm:w-screen;
    &-wrapper {
      @apply w-full sm:w-[241px] bg-[#242424] flex flex-col gap-[16px] items-start relative box-border px-[24px] py-[32px] sm:py-[30px] mt-[6px] z-[10];
      &::before {
        content: '';
        @apply w-[12px] h-[12px] block absolute bg-[#242424] rotate-45 top-[-6px] right-[24px] max-sm:hidden;
      }
      li {
        @apply w-full flex items-center justify-between text-[16px] leading-[16px] tracking-[4px] cursor-pointer;
      }
    }
    
  }
  &__items {
    @apply flex flex-col gap-[24px] sm:gap-[20px] justify-stretch;
  }
  &__item {
    @apply h-[172px] sm:h-[146px] block relative bg-cover cursor-pointer;

    &-play {
      @apply w-[48px] h-[48px] sm:w-[40px] sm:h-[40px] absolute top-[52px] sm:top-[53px] left-[50%] ml-[-24px] sm:ml-[-20px] flex items-center justify-center box-border border border-white rounded-[50%] bg-[#242424]/[.5];
      svg {
        @apply max-sm:!h-[19.2px] max-sm:!w-[19.2px];
      }
    }

    &-info {
      @apply absolute top-[0] left-[0] w-full h-full bg-[#242424]/[.7] opacity-0 box-border p-[16px] flex items-end justify-between text-[14px] leading-[12px] tracking-[2px];
    }

    &-title {
      @apply absolute block w-full top-[116px] left-[0] sm:bottom-[14px] text-[16px] leading-[16px] tracking-[4px] font-[400] text-center;
    }
    &:hover {
      .Movies__item-info {
        @apply opacity-100 transition-opacity;
      }
      .Movies__item-play {
        @apply top-[73px] left-[16px] w-[24px] h-[24px] ml-[0];
        transition: top .6s ease-out .3s,
        left .6s ease-out .3s,
        margin-left 0.1s,
        width .3s ease-out,
        height .3s ease-out;

        &:hover {
          @apply border-[#242424] text-[#242424] bg-[#64EEBC];
        }
        & > svg {
          @apply w-[9.6px] h-[9.6px];
          fill: #242424;
        }
      }
      .Movies__item-title {
        @apply top-[79px] left-[52px] w-auto;
        animation: hide-n-show .8s ease-out;
      }
    }
  }
}
@keyframes hide-n-show {
  0% {
    opacity:0;
  }
  75% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}